/**/
/*public*/   
/**/
	html,body,div,p,ol,ul,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,a,fieldset,legend,figure,hr,img,input{
			margin: 0;
			padding: 0;
			text-decoration: none;
			list-style: none;
		}
		html,body{
			height: 100%;
			font-family: "microsoft yahei",Arial;
			font-size: 14px;
			
		}
/*1.header*/
		#indexHeader{
			background-color: white;
			display: flex;
			position: fixed;
			top:0px;
			height:60px;
			width:100%;
			z-index: 12;
		}
		#indexHeader img{
			float: left;
			height:60px;
			width:95px;
		}
		#indexMenu{
			float: left;
			background-color: white;
			height:60px;
			width:290px;
		}
		#indexMenu a{
			line-height: 60px;
			color:#4c4c4c;		
			margin-left: 30px;
		}
		#indexRight{
			margin-left: 670px;
		}
		#seachBtn{
			float: left;
			height:30px;
			width:30px;
			margin-top:12px;			
			background: url(../images/seach.jpg) no-repeat 5px 5px;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
			border: 0 none;
			border: 1px solid #9a9b93;
			border-right: none;
		}
		
		#indexSeach{
			float:left;
			display: inline-block;
			height:27.5px;
			width:170px;
			margin-top:12px;
			margin-right:30px;
			color: #9a9b93;
			border: 0 none;
			border: 1px solid #9a9b93;
			border-left:none;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			
		}
		#indexLogin{
			float: right;
			height: 30px;
			width:100px;
			font-size: 12px;
			margin-top:12px;
			background-color: #fc6463;
			border-radius: 15px 15px;
			color: white;
			text-align: center;
			line-height: 30px;
		}
		
		
		
		/*5.footer*/
		#indexFooter{
			padding: 30px 40px;
			height:104px;
			width:1343px;
			background-color:#434446;
			
		}
		#indexFooter a{
			display: block;
			font-size: 12px;
			margin-bottom: 10px;
		}
		#footerLeft1{
			float:left;
			height:102px;
			width:59px;			
			background: url(../images/footerleftborder-1.jpg) left bottom no-repeat;
		}
		#footerLeft1 p{
			margin-left: 10px;
			margin-bottom: 13px;
		}
		#footerLeft1 a{
			color:#c5c2cd;
		}
		#footerLeft2 a{
			color:#c5c2cd;
		}	
		#footerLeft2{
			float:left;			
			margin-left:100px;
			height:104px;
			width:59px;
			background: url(../images/footerleftborder-2.jpg) no-repeat left;
		}
		#footerLeft2 p{
			margin-left: 10px;
			margin-bottom: 13px;
		}
		#sinaIcon{
			float: left;
			height:15px;
			width:19px;
			margin-right: 10px;
			background-image: url(../images/sina.jpg);
		}
		#wechatIcon{
			float: left;
			height:15px;
			width:19px;
			background-image: url(../images/wechat.jpg);
		}
		#footerCenter{
			float: left;
			margin-left:100px ;
			height:93px;
			width:471px;
			background: url(../images/footerleftborder-2.jpg) no-repeat left;
		}
		#footerCenter p{
			margin-left: 10px;
		}
		#firends{
			width:471px;
			font-size: 12px;
			height:12px;
			color:#c5c2cd;
			margin-bottom: 15px;
		}
		#firendsLink a{
			color: #676d6b;
			float: left;
			margin-right:18px ;
		}
		#footerRight{
			float: right;
			height:100px;
			width:250px;
		}
		#textArea{
			float: left;
			width:150px;
			height:100px;
		}
		#ad01{
			color:#c5c2cd;
			font-size: 15px;
			float: right;
			margin-right: 15px;
		}
		#ad02{
			color:#c5c2cd;
			font-size: 12px;
			float: right;
			margin-right: 15px;
			margin-top: 10px;
		}
		#footerCode{
			float: right;
			width: 100px;
			width:100px;
		}
		#copyright{
			height:40px;
			width:100%;
			color:#c5c2cd;
			line-height: 40px;
			text-align: center;
			background-color:#38383a;
			font-size: 12px;
		}
